---
import Layout from '../../../layouts/Layout.astro';
import Markdown from '../../../components/Markdown.astro';
---

<Layout title="lastminute.com UX Writing Case Study">
    <h1 class="mb-10">lastminute.com UX Writing</h1>
    <Markdown
        content={`
A collection of the various pieces of creative work I did for lastminute.com.
    `}
        class="mb-10 text-lg"
    />
</Layout>;
