---
import Layout from '../../../layouts/Layout.astro';
import Markdown from '../../../components/Markdown.astro';
---

<Layout title="Spec Work">
    <h1 class="mb-10">Spec Work</h1>
    <Markdown
        content={`
Some content design spec pieces for both consumer and enterprise apps.

### Restaurant Booking App

A wireframe of a mobile app designed to allow users to pre-order meal at a restaurant.

![Mockup of restaurant booking app order screen.](/images/restaurant_order_screen_wireframe_with_shadow.png "A series of screen mockups outlining the Restaurant Booking App.")

### Small Business Dashboard

A dashboard for small business owners to manage their business.

![Mockups of Restaurant Booking App.](/images/small_biz_dashboard_with_shadow.png "A mockup of a dashboard outlining statistics for a small business.")

    `}
        class="mb-10 text-lg"
    />
</Layout>;
