---
import Layout from '../../../layouts/Layout.astro';
import Markdown from '../../../components/Markdown.astro';
import { Image } from 'astro:assets';

const content = `
Some examples of content design I did for lastminute.com.

### Favourites feature

A feature in the app allowing users to save hotels to a personalised list.

![Mockups of Favourite feature.](/images/fave_example.png "A series of screen mockups outlining the Favourite feature in the lastminute.com app.")

The main challenges for this feature was balancing out how to convey functionality. I worked closely with the design team to ensure the copy was clear and concise, while also fitting within the design constraints.


### Change Language bottom sheet

I was asked to reword the message that get shown to users when they attempt to change the language of the app.

![Mockup of Change Language modal.](/images/change_language_modal.png "Change Language modal")

In the new version, I simplified it, removing the instructions to reduce cognitive load.

`;
---

<Layout title="lastminute.com Content Design">
    <h2 class="mb-10">lastminute.com Content Design</h2>
    <Markdown content={content} class="mb-10 text-lg" />
</Layout>;
