---
import Layout from '../../../layouts/Layout.astro';
import Markdown from '../../../components/Markdown.astro';
import { Image } from 'astro:assets';

const content = `
Some examples of content design I did for lastminute.com.

### Favourites feature

A feature in the app allowing users to save hotels to a personalised list.

![Mockups of Favourite feature.](/images/fave_example.png "A series of screen mockups outlining the Favourite feature in the lastminute.com app.")

The main challenges for this feature was balancing out how to convey functionality while remaining advertorial. 

For the empty screen message, I reworded the designer's proposal of "Hotels you dream of" to "Save your faves!" to make it more casual, while also making it clearer what the feature was about.



### Change Language bottom sheet

I was asked to reword a bottom sheet menu that gets shown to users when they attempt to change the language of the app.

![Mockup of Change Language modal.](/images/change_language_modal.png "Change Language modal")

In the new version seen on the right, I removed the instructions on how to navigate the user's device settings. This helped reduce cognitive load while still keeping the core intention of the message intact.

`;
---

<Layout title="lastminute.com Content Design">
    <h2 class="mb-10">lastminute.com Content Design</h2>
    <Markdown content={content} class="mb-10 text-lg" />
</Layout>;
