---
import Layout from '../../layouts/Layout.astro';
import Markdown from '../../components/Markdown.astro';

const buttons = [
    { text: 'Email me', href: 'mailto:info@antshaw.com' },
    { text: 'LinkedIn', href: 'https://www.linkedin.com/in/anthonyjjshaw/' }
];
---

<Layout title="About Me">
    <h2 class="mb-10">About Me</h2>
    <Markdown
        content={`

Hi! 

I'm Anthony, a content designer based in London. I specialise in creating clear, concise, and user-friendly content for digital products and services. 

## Get in touch

`}
        class="mb-10 text-lg"
    />
    <div class="flex flex-wrap gap-4 mb-10">
        {
            buttons.map((button) => (
                <a href={button.href} class="inline-block border px-6 py-3 text-lg font-medium text-center text-black rounded hover:bg-gray-200">
                    {button.text}
                </a>
            ))
        }
    </div>
</Layout>
