---
import Layout from '../../layouts/Layout.astro';
import Markdown from '../../components/Markdown.astro';

const buttons = [
    { text: 'Email me', href: 'mailto:}' },
    { text: 'LinkedIn', href: 'https://www.linkedin.com/in/anthonyjjshaw/' }
];
---

<Layout title="About Me">
    <h2 class="mb-10">About Me</h2>
    <Markdown
        content={`

I love words, big and small. 

I love how they can be used to inform, persuade, entertain, and inspire. I love how they can be combined to create meaning and convey complex ideas.

## Get in touch
`}
        class="mb-10 text-lg"
    />
    <div class="flex flex-wrap gap-4 mb-10">
        {
            buttons.map((button) => (
                <a href={button.href} class="inline-block px-6 py-3 text-lg font-medium text-center text-black bg-white rounded hover:bg-gray-200">
                    {button.text}
                </a>
            ))
        }
    </div>
</Layout>
